/* chat.css */
.chat-container {
  color: black;
  width: 95vw;
  height: 95vh;
}

.chat-header {
  padding: 10px;
  background-color: #242424;
  color: white;
  text-align: center;
  top: 0;
  position: sticky;
  border-bottom: 4px solid #383838;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
  /* Shadow effect */
  /* width: 100%; */
}

.flex-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-danger{
  background-color: red;
  float: right;
}

.chat-messages {
  flex: 1;
  padding: 20px;
}

.chat-message-list {
  list-style-type: none;
  padding: 0;
  width: 100%;
}

.chat-message-list li {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  width: 100%;
  word-break: break-word;
  /* Handle long words or URLs */
}

.message-sent {
  background-color: #5B84b1ff;

  align-self: flex-end;
}

.message-received {
  background-color: #fc766aff;
  align-self: flex-start;
}

.chat-message-list li .message-content {
  display: flex;
  flex-direction: column;
}

.chat-message-list li .message-text {
  display: flex;
  align-items: center;
}

.chat-message-list li .message-text strong {
  margin-right: 10px;
}

.chat-message-list li img {
  max-width: 100%;
  max-height: 200px;
  height: auto;
  display: block;
  margin-bottom: 10px;
  border-radius: 5px;
  object-fit: cover;
}

.chat-input-container {
  display: flex;
  padding: 10px;
}

.chat-input-container input[type="text"] {
  flex: 1;
  padding: 10px;
  border: 1px solid #4b4b4b;
  border-radius: 4px;
  margin-right: 10px;
}

.chat-input-container input[type="file"] {
  display: none;
}

.chat-input-container label {
  background-color: #007bff;
  color: white;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
}

.chat-input-container button {
  background-color: #28a745;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

h3 {
  color: white;
}